* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Source Serif 4', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    position: absolute;
    margin-left: 45%;
    margin-top: 2%;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    font-size: 18px;
}
.header:hover {
    transform: scale(110%);
}
.background {
    grid-column: 2;
    grid-row: 1 / 2;
    height: 100%;
}

.login-menu {
    grid-column-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(9,50px);
    width: 100%;
    margin-top: 30%;
    gap: 20px;
}
.login-header,
.login-text,
.e-mail-line,
.form-email,
.password,
.form-password {
    grid-column: 1 / 3;
    margin-left: 30%;
}
.register-button {
    display: inline-flex;
    grid-column: 1 / 3;
    margin-left: 28%;
}
/* .login-button {
    grid-column: 2 / 3;
    margin-left: 30%;
} */
.help-pass {
    margin-left: 30%;
    grid-column: 1 / 3;
    justify-self: center;
}
.login-text {
    font-weight: 800;
    font-size: 25px;
}
.login-header {
    font-weight: 500;
    color: rgb(133, 133, 136);
}
.email-box,
.pass-box {
    box-sizing: border-box;
    width: 350px;
    height: 40px;
    border: 2px solid rgb(179, 174, 174);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    padding: 0 5px;
    font-weight: 700;
}
.email-box:hover,
.pass-box:hover {
    border-color: #0fabc7;
    
}

.email-text,
.pass-text {
    margin-left: 2%;
    color: #0999b3;
    font-size: 17px;
}

.button {
    border: 2px solid #0fabc7;
    border-radius: 15px;
    color: #0fabc7;
    height: 40px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px;
    cursor: pointer;
    transition: 0.5s;
    background-color: white;
}
.button:hover {
    color: white;
    background-color: #0fabc7;
}
.help-pass {
    font-size: 18px;
    font-weight: 600;
    margin-left: 17%;
    color: rgb(139, 200, 211);
    cursor: pointer;
    transition: 0.5s;
    padding-top: 2px;
}
.help-pass:hover {
    color: rgb(4, 211, 238);
    transform: scale(120%);
}

input[type="text"] {
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    margin: 0; 
  }


.radio-button {
    display: inline-flex;
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    color: rgb(172, 170, 170);
    display: inline-block;
    margin-right: 10px;
    letter-spacing: 0.5px;
    margin-left: 45%;
    margin-top: 40%;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
    color: #1099b1;
    
}

.radio-toolbar label:hover {
    transform: scale(110%);
}
input#emailAddress {
    background-image: url(./envelope-regular.svg);
    background-repeat: no-repeat;
    padding-left: 55px;
    background-size: 5%;
    
}
input.email-box,
input.pass-box {
    background-position: 5%;
}
input#pass {
    background-image: url(./key-solid.svg);
    background-repeat: no-repeat;
    padding-left: 55px;
    background-size: 5%;
}