@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    }
.right {
    background: url("./image/Photo.png");
    background-size: cover;
    width: 50%;
    height: 100%;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-family: 'Hind', sans-serif;
}
.home {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #6B6C6F;
    text-decoration: none;
    margin-left: 90%;
    margin-top: 57px;
    border-radius: 0px;
}
.main {
    width: 100%;
    height: 84%;
}
.block {
    width: 380px;
    height: 385px;
    margin-left: 25%;
    margin-top: 25%;
}
.subttitle {
    font-size: 15px;
    font-weight: 400;
    color: #6B6C6F;
    margin-bottom: 28px;
    text-transform: uppercase;
}
.tittle {
    font-size: 26px;
    font-weight: 700;
    color: black;
    margin-bottom: 28px;
}
input {
    border-width: 0px;
    border: none;
    outline: none;
}
.input-container {
    padding: 10px;
    border: 1px solid #DFE2E5;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: -10px;
}
.input-container:hover {
    border: 2px solid #29B1CC;
}
#eye {
    margin-left: 145px;
}
.buttons {
    margin-top: 25px;
    width: 390px;
    padding: 10px;
    margin-left: -20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
.register {
    width: 180px;
    height: 30px;
    border-radius: 30px;
    background: white;
    border: 2px solid #29B1CC;
    color: #29B1CC;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.register:hover {
    border: 4px solid #29B1CC;
}
.login {
    width: 180px;
    height: 30px;
    border-radius: 30px;
    color: white;
    border: 2px solid #29B1CC;
    background-color: #29B1CC;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
.login:hover {
    border: 4px solid #29B1CC;
}
.forgot a {
    color: #DFE2E6;
    text-decoration: none;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.forgot a:hover {
    color: #565758;
}
footer {
    position: relative;
}
.lang {
    position: absolute;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-left: 43%;
}
.link {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #B3B3B3;
    text-decoration: none;
    margin-left: 15px;
}
.link:hover:before {
    content: "*";
    left: -20px;
}