.container {
    display: flex;
}

.main,
.photo {
    width: 50%;
    height: 100vh;
}

.photo {
    background: url(../images/bg.jpg) top;
    background-size: cover;
}

.header,
.footer {
    width: 93%;
    height: 8%;
    position: relative;
}

.link {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #6B6C6F;
    text-decoration: none;
}

.link:hover {
    color: black;
} 

.home {
    position: absolute;
    right: 0;
    bottom: 0;
}


.home::before {
    content: '';
    bottom: -3px;
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #6B6C6F;
    transition: .4s;
}

.home:hover:before {
    width: 100%; 
}


.language {
    position: absolute;
    right: 0;
    top: 0;
    width: 58px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.lang__item::before {
    content: '⦁';
    position: relative;
    left: -3px;
    transition: .3s;
    opacity: 0;
}

.lang__item:hover:before {
    opacity: 1;
}


.inner {
    width: 100%;
    height: 84%;
    display: flex;
    align-items: center;
    justify-content: center
}

.section {
    width: 380px;
    height: 385px;
    font-family: 'Poppins', sans-serif;
}

.section__subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #6B6C6F;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.section__title {
    font-size: 26px;
    font-weight: 700;
    color: black;
    margin-bottom: 24px;
}

.form-label {
    color: #6B6C6F;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    margin-left: 15px;
}

.input-block {
    position: relative;
}

.icon-left {
    position: absolute;
    left: 16px;
    bottom: 35px;
    font-size: 22px;
    color: #DFE2E6;
}

.icon-right {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 18px;
    color: #DFE2E6;
}

.form__item {
    margin-bottom: 22px;
    padding-left: 50px;
    width: 323px;
    height: 44px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #DFE2E6;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
}

.form__item::placeholder {
    color: #DFE2E6;
}


.form-buttons {
    margin-top: 8px;
    margin-bottom: 25px;
    width: 375px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 170px;
    height: 44px;
    border-radius: 20px;
    background: white;
    border: 2px solid #29B1CC;

    color: #29B1CC;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.button:hover {
    background: #29B1CC;
    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
}

.password-reset a {
    color: #DFE2E6;
    text-decoration: none;
    float: right;
}

.password-reset a:hover {
    color:#6B6C6F;
    transition: .3s;
}